html{
	background-image:url('../images/background.jpg');
	background-attachment: fixed;

}

#menupage{
	background-image:url("../images/backgroundmenu.jpg");
	    max-height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maincontainerproperties{
	margin-left:auto;
	margin-right:auto;
	border:2px solid black;
	max-width:50rem;
	text-align: center;
	background-color:rgba(0,0,0, .9);
	border-radius:4px;
}

header{
	font-family: 'Marck Script', cursive;
	background-color:rgb(171, 91, 46);
	padding-top:10px;
	padding-bottom:10px;
	max-width:100%;
}

#textInHeader{
	font-size:100%;
	max-width: 100%;

}

h1{
	color:rgb(51, 57, 76);
	margin-bottom:0;
}

nav	{
	text-align: center;
	background-color: transparent;
	padding-top:5px;
	padding-bottom:5px;

}

.dropbtn {
    background-color: rgb(0,0,26);
    color: white;
    border: none;
    cursor: pointer;
}

nav a{
	color:rgb(255,255,255);
	text-decoration: none;
	margin-right:5rem;
	font-size: 24px;
	font-family: 'Marck Script', cursive;
}


.img-circle{
	border-radius:50%;
}

a:hover{
color:rgb(165, 31, 31);
text-decoration: underline;
}

a:visited{

}

a:active{

}

.foodplateHeightandWidth{
	max-width:159px;
}

#textInHeader{
	width: 50%;
	margin-left:20px;
	float: left;
}

.roundedcorners{
	border-radius: 3px;
}

#homephotowithinbody{
	float:left;
	margin-left:15px;
	margin-right: 10px;
}

.floatleft{
float:left;
}

label{
	color:#fff;
}

div p{
	color: rgb(255, 255, 255 );
	text-align: left;
	margin-left:10px;
}

#firstplateposition{
	float:left;
	margin-left:10px;
	margin-top:10px;
}

.marginForDropdownLinks{
	margin-left:0;
}

.menuproperties{

}

#menuscontainer{
	background-color:rgba(150, 89, 38, .5)
}

#menuheader{
	background-color: transparent;
	font-family: 'Marck Script', cursive;
	font-size: 48px;
	font-weight: bold;
	text-decoration-style: underline;
}

.photoContainerProperties{	
	color:rgb(255, 255, 255);
	width: 4rem;
	height:5rem;
	border: 1px solid black;
	margin-left:15%;

}


#indexPhotoGallery img{
	width:780px;
	height:300px;
	border-radius:2px;
}

.menuCategories{
	color:rgb(0,0,0);
	font-family: 'Marck Script', cursive;
}

.menuoptionsproperties{
	max-width: 32rem;
	border: 2px solid black;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 2px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:2rem;
	font-size: 20px;
	font-family: 'Marck Script', cursive;
	line-height: 1rem;
}

.navcontactpadding{
	padding-top:2rem;
}

.center{
	text-align: center;
}

.gold{
	color:rgb(218, 165, 32)
}

.responsiveWidth{
	max-width:100%;
}

#contactHeader{
	font-size: 3rem;
}

#emailLabel{
	margin-left:33px;
}

#phoneLabel{
	margin-left:31px;
}

#commentLabel{
	margin-left:-47px;
}

.commentProperties{
	height:6rem;
	width:10.5rem;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait)
 {
 	#foodplate{
 		visibility:hidden;
 	}

 	#foodplate2{
 		visibility:hidden;
 	}

 	html{
 		background-size:cover;
 		background-repeat: no-repeat;
 	}
label{
	color:rgb(255, 255, 255);
}

 @media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
 	#foodplate{
 		visibility:hidden;
 	}

 	#foodplate2{
 		visibility:hidden;
 	}

 	html{
 		background-size:cover;
 		background-repeat: no-repeat;
 	}
 }


